/*left*/
#left {
	width: 240px;
	height: 785px;
	float: left;	
	padding:15px 15px 15px 15px;
	background-color: #fff;
}
#left ul{
	width: 242px;
	height: 785px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#left ul li{
	width: 225px;
	height: 170px;
	margin: 15px 0 15px 0;
}
#left ul li img{
	width: 225px;
	height: 170px;
}
#left ul li.pic_first{
	margin: 0 0 15px 0;
}
#left ul li.pic_last{
	margin: 15px 0 0 0;
}
/*right*/
#right {
	width: 683px;
	height:auto;
	float: left;
	padding: 15px;
	margin-left: 15px;
	background-color: #fff;
	padding-bottom:30px;
}
.bg_pic{
	width: 680px;
	height: 450px;
}
.bg_pic img{
	width: 680px;
	height: 450px;
}
.right_text{
	width: 679px;
	height: 300px;
	margin-top: 20px;
}
.right_text h1{
	color: #666;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight:normal;
	
}
.right_text h1 input{
	width: 597px;
	height: 25px;
	line-height: 25px;
	font-family: "SimSun";
	font-size: 14px;
	padding:0 5px 0 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
/*.right_text dl {
	width: 597px;
	margin: 15px 0 0 0;
}
.right_text dl dd{width: 597px;}
.right_text_select{
  width: 595px;
  border:1px solid #ccc;
}
.right_text_select select{}*/
.right_text textarea {
	display: block;
	width:665px;
	height:200px;
	margin-top: 15px;
	padding: 5px;
	font-size: 14px;
	resize:none;
	border: 1px solid #ccc;
}
.right-button{
	width: 683px;
	text-align:center;
}
.right-button input{
	margin:18px 50px;
	padding:3px 5px;
	cursor:pointer;
}
